:host {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.mat-toolbar {
  background-color: darkblue;
  color: white;
}

.mat-icon {
  font-size: 1.5rem;
  margin-right: 8px;
}

.header-item {
  margin:5px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}

.header-text {
  color: white;
  text-decoration: none;
}

.header-text:hover {
  color: grey;
}

.header-text:hover {
  cursor: pointer;
}
