.modal-content {
  padding: 50px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin-left: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
