<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Roles</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let user of usersData">
    <td>{{ user.email }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.roles }}</td>
    <td>
      <button (click)="openModal(user)">Edit</button>
    </td>
  </tr>
</table>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Edit User</h2>
    <label>Email:</label>
    <input type="text" [value]="selectedUser.email" placeholder="{{selectedUser.email}}" (input)="selectedUser.email = ($any($event.target).value)">
    <label>Name:</label>
    <input type="text" [value]="selectedUser.name" placeholder="{{selectedUser.name}}" (input)="selectedUser.name = ($any($event.target).value)">
    <label>Roles:</label>
    <input type="text" [value]="selectedUser.roles" placeholder="{{selectedUser.roles}}" (input)="selectedUser.roles = ($any($event.target).value)">
    <button (click)="saveChanges()">Save Changes</button>
  </div>
</div>


